<div class="fullform">
  <div class="spinner1" *ngIf="dataGetState">
    <mat-spinner color="#76b852"></mat-spinner>
  </div>

  <div *ngIf="!dataGetState">
    <div class="entire">
      <div class="User-header">
        <img src="assets/otLogo.png" />
      </div>

      <form [formGroup]="userForm">
        <div
          [ngStyle]="{
            'font-size': styleList[0].size,
            color: styleList[0].color
          }"
        >
          <label class="container"
            >First Name
            <span class="error-secondary" *ngIf="styleList[0].formTextRequired"
              >*
            </span>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              [(ngModel)]="info.firstname"
              name="fname"
              placeholder="Enter your First Name"
              (keyup)="setState(0)"
            />
          </label>
        </div>

        <span class=" error-primary" *ngIf="firstnameState"
          >Number of characters should be less than
          {{ styleList[0].max_length }}</span
        >

        <div
          [ngStyle]="{
            'font-size': styleList[1].size,
            color: styleList[1].color
          }"
        >
          <label class="container"
            >Last Name
            <span class="error-secondary" *ngIf="styleList[1].formTextRequired"
              >*
            </span>
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              [(ngModel)]="info.lastname"
              name="2"
              placeholder="Enter your Last Name"
              (keyup)="setState(1)"
            />
          </label>
        </div>
        <span class="error-primary" *ngIf="lastnameState"
          >Number of characters should be less than
          {{ styleList[1].max_length }}</span
        >
        <div
          [ngStyle]="{
            'font-size': styleList[2].size,
            color: styleList[2].color
          }"
        >
          <label class="container"
            >Email
            <mat-icon class="icon">email</mat-icon>
            <span class=" error-secondary" *ngIf="styleList[2].formTextRequired"
              >*
            </span>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              [(ngModel)]="info.email"
              name="3"
              placeholder="Enter your email-ID"
              (keyup)="setState(2)"
            />
          </label>
          <div
            class="error-primary"
            *ngIf="emailState && this.userForm.get('email').errors"
          >
            Enter a valid email address
          </div>
        </div>

        <div
          [ngStyle]="{
            'font-size': styleList[3].size,
            color: styleList[3].color
          }"
        >
          <label class="container"
            >Phone
            <mat-icon class="icon">phone</mat-icon>
            <span class="error-secondary" *ngIf="styleList[3].formTextRequired"
              >*
            </span>
            <input
              type="text"
              formControlName="phone"
              class="form-control"
              [(ngModel)]="info.phone_no"
              name="4"
              placeholder="Enter your Contact-no"
              (keyup)="setState(3)"
            />
          </label>
        </div>
        <span class=" error-primary" *ngIf="phoneState"
          >Number of characters should be less than
          {{ styleList[3].max_length }}</span
        >

        <div
          [ngStyle]="{
            'font-size': styleList[4].size,
            color: styleList[4].color
          }"
        >
          <div class="container">
            <label>RequestType</label>
            <span class="error-secondary" *ngIf="styleList[4].formTextRequired"
              >*</span
            >
            <mat-form-field class="datatypecontainer">
              <mat-select
                multiple
                [(value)]="info.datareqlist"
                formControlName="RT"
              >
                <mat-option
                  class="choice"
                  *ngFor="let choice of choices"
                  value="{{ choice }}"
                  >{{ choice }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="container">
          <label>
            <input
              [(ngModel)]="info.fileName"
              formControlName="filename"
              type="file"
              formControlName="filename"
              (change)="selectFile($event)"
            />
          </label>
          <div *ngIf="currentFileUpload">
            <div
              class="progress-bar progress-bar-info progress-bar-striped progbar"
              role="progressbar"
              attr.aria-valuenow="{{ progress.percentage }}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: progress.percentage + '%' }"
            >
              {{ progress.percentage }}%
            </div>
          </div>
          <button
            mat-raised-button
            color="primary"
            class="uploadButton"
            [disabled]="!selectedFiles"
            (click)="upload()"
          >
            Upload
          </button>
        </div>
      </form>

      <a routerLink="/userformsuccess"
        ><button
          class="submitdButton"
          mat-raised-button
          color="primary"
          [disabled]="!userForm.valid"
          (click)="sendInfo()"
        >
          Submit
        </button></a
      >
    </div>
  </div>
</div>
