<mat-toolbar color="primary">
  <span>Data Subject Access Rights</span>
</mat-toolbar>
<button mat-fab color="primary" class="toggleButton" (click)="toggleDrawer()">
  +
</button>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [(opened)]="opened"
  >
    <mat-nav-list>
      <strong
        ><a
          mat-list-item
          routerLinkActive="active"
          routerLink="/admin/requestqueue"
          [ngClass]="['itemstyle']"
          >Request Queue</a
        ></strong
      >
      <strong>
        <a
          mat-list-item
          routerLinkActive="active"
          routerLink="/admin/dboard"
          [ngClass]="['itemstyle']"
          >Dashboard</a
        ></strong
      >
      <strong>
        <a
          mat-list-item
          routerLinkActive="active"
          routerLink="/admin/customizeform"
          [ngClass]="['itemstyle']"
          >Customize</a
        ></strong
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)"
      >
        <strong
          ><mat-icon aria-label="Side nav toggle icon">Menu</mat-icon></strong
        >
      </button>
      <span>DSAR Admin</span>
    </mat-toolbar> -->
    <router-outlet></router-outlet>
    <ng-content> </ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
